@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#font{
    font-family: "Azeret Mono", monospace;
    width: 1440px;

}

/* start style of first section */
#first-developer-container{
    width: 1440px;
    height: 652px;
    background-image: url("assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
#first-developer-container .developer-content{
    width: 998px;
    height: 582px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
}

.developer-content img{
    width: 240.28px;
height: 240px;
margin-bottom: 32px;
}
.developer-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.developer-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;
}
.btn-container{
    text-align: center;
    
}
.btn{
    border-radius: 8px;

background-color: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
padding: 21px 24px 21px 24px;
cursor: pointer;

}
/* end of first section style */


/* start 2nd section style */
.second-section-container{
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    margin-top: 74px;
    

}
.second-section-content{
    width: 946px;
height: 1235px;
margin: 0 auto;
margin-top: 154px;

}
.second-content{
    
    width: 100%;
height: 115px;
text-align: center;

    
}
.second-content h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;
}
.second-content p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
opacity: 0.7;
padding: 24px 47px 48px 47px;
}
.half-width{
    width: 946px;
    height: 336px;
margin: 0 auto;
display: flex;
justify-content: space-between;
flex-direction: row;
margin-bottom: 32px;
margin-top: 40px;
box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
padding: 50px;

}
.half-width-content{
    display: flex;
    flex-direction: column;
    width:50%;
   align-items: normal;
   
}
.half-width-content h3{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
}
.half-width-content p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
opacity: 0.7;
margin-top: 16px;
margin-bottom: 32px;

}

.half-width-right{
    width: 50%;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items:flex-end;

}

.half-width-middle{
    width: 50%;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}
.half-width-right img{
    width: 259.56px;
height: 217.01px;

}

.half-width-middle img{
    width: 223.2px;
    height: 208.85px;

}
.half-width-left{
    width: 50%;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items:flex-end;
}
.half-width-left img{
    width: 206.4px;
height: 187.32px;
}

.link-button{
    text-decoration: none;
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 12px 20px 12px 20px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 600;
width: 150px;
height: 48px;
cursor: pointer;
display: flex;
justify-content:center;
align-items: center;
}
/* 2nd section style end */

/* start of third section style */
.third-section-container{
    width: 1140px;
height: 775px;
margin: 0 auto;

}
.third-section-content{
    width: 852px;
height: 113px;
margin: 0 auto;
text-align: center;
margin-bottom: 80px;

}
.third-section-content h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;

}
.third-section-content p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
margin-top: 24px;

}
.video{
  
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
width: 1076px;
height: 550px;
border-radius: 16px;
margin: 0 auto;

}
.video iframe{
    width: 100%;
    height: 100%;
    border-radius: 16px;
   
}
/* end of third section style */

/* start of fourth section style */
.fourth-My-target{
    width: 1140px;
height: 460px;
margin: 0 auto;
margin-top: 110px;
}

.my-target-content{
    width: 852px;
    height: 113px;
    margin: 0 auto;
text-align: center;

}
.my-target-content h2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;
}
.my-target-content p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
margin-top: 24px;
}
.target-container{
   display: flex;
 gap: 24px;
 margin-top: 48px;
 width: 1140px;
height: 299px;
}
.target1{
    padding: 40px;
    border-radius: 16px;
background-color: rgba(255, 76, 30, 0.05);
width: 33.33%;

}
.target1 h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
}
.target1 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 8px;
    margin-bottom: 24px;
}
.target2{
    padding: 40px;
    border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
width: 33.33%;
}
.target2 h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
}
.target2 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 8px;
    margin-bottom: 24px;
    
}
.target3{
    padding: 40px;
    border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
width: 33.33%;
}
.target3 h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
}
.target3 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 8px;
    margin-bottom: 24px;
}
.btn-link{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
text-decoration-line: underline;
cursor: pointer;
}
/* end of fourth section style */

/* start of fifth section style */
.support-container{
    width: 1140px;
height: 314px;

margin: 0 auto;
border-radius: 16px;

background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("assets/handshake.jpg");

background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
margin-top: 49px;

}
.support-content{
    width: 1044px;
    height: 186px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.support-content h2{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
text-align: center;
}
.support-content p{
    color: rgb(255, 255, 255);
    opacity: 0.7;
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
margin-top: 16px;
margin-bottom: 48px;
padding-left: 219px;
padding-right: 219px;


}
.subscribe-container{
    width: 700px;
    height: 51px;
align-items: center;
display:flex;
}
.subscribe-container input[type="text"]{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;    
    background-color: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    flex: 1;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    height: 54px;

}

.subscribe-container input[type="submit"] {
    width: 130px;
height: 54px;
border-radius: 8px;
background-color: rgb(255, 255, 255);
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
text-align: center;
margin: 0px 16px;
cursor: pointer;
border: 1px solid rgba(13, 19, 33, 0.15);
}
/* end of fifth section style */

/* start of footer section style */
#footer{
    width: 1440px;
height: 100px;
margin: 0 auto;
border-radius: 16px;

background-color: rgba(13, 19, 33, 0.03);
margin-top: 79px;
/* padding: 35px 150px 35px 150px; */
}
.footer-first-section{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between; 
    height: 36px;
    padding: 38px 150px 38px 150px;
}
.footer-first-section h5{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
text-align: center;
}
.social-contact{
    width: 20px;
height: 20px;
display: flex;
justify-content: center;
gap: 24px;
padding-right: 120px;
}
